<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <th:block th:include="admin/fraghment/header_link:: head"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{../admin_js/semantic.min.css}">


    <style>
        .range, .brand-select, .featured-ads {
            padding: 25px 0 30px 0;
            border-bottom: 1px solid #e5e3db;
        }

        select {
            width: 500px;
        }
    </style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div sec:authorize="isAuthenticated()">
        <div sec:authorize="hasRole('ADMIN')">
            <header th:include="admin/fraghment/admin_sidebar"></header>
        </div>
        <div sec:authorize="hasRole('MANAGER') && !hasRole('ADMIN')">
            <header th:include="admin/fraghment/manager_sidebar"></header>
        </div>
    </div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <header th:include="admin/fraghment/manager_topbar"></header>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Subcategory</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>


                <div class="row">


                    <div class="col-lg-12 mb-4">

                        <!-- Illustrations -->
                        <div class="card  shadow mb-4">
                            <div class="card-header border-bottom-warning py-3">
                                <h6 class="m-0 font-weight-bold text-primary text-center"
                                    style=" display: inline-block">Subcategory</h6>
                                <a href="#" id="addNewSubcategory" class="btn btn-primary btn-icon-split text-right"
                                   style="float: right;">
                                    <span class="icon text-white-50">
                                      <i class="fas fa-plus-circle"></i>
                                    </span>
                                    <span class="text">Add Subcategory</span>
                                </a>
                            </div>
                            <div class="card-body">
                                <!-- Begin Page Content -->
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped table-bordered" id="subCategory"
                                           width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Post Type</th>
                                            <th>Category</th>
                                            <th>Model</th>
                                            <th>Subcategory</th>
                                            <th>Create At</th>
                                            <th>Update At</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Post Type</th>
                                            <th>Category</th>
                                            <th>Model</th>
                                            <th>Subcategory</th>
                                            <th>Create At</th>
                                            <th>Update At</th>
                                            <th>Action</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->

        <th:block th:include="admin/fraghment/footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->

<div class="modal fade" id="addSubcategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="subcategoryModalLabel">Add Subcategory</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="#" method="post">


                <div class="modal-body">
                    <div class="form-group">
                        <label for="selectPostType">Select Post Type</label>
                        <select name="category" class="form-control" id="selectPostType"></select>
                    </div>
                    <div class="form-group">
                        <label for="selectCategory">Select Category</label>
                        <select name="category" class="form-control" id="selectCategory"> </select>
                    </div>
                    <div class="form-group">
                        <label for="selectModel">Select Post Model</label>
                        <select name="post_model" class="form-control" id="selectModel"></select>
                    </div>
                    <div class="form-group">
                        <label for="newsubategoryIcon">Enter Icon Class</label>
                        <input type="text" class="form-control" id="newsubategoryIcon" aria-describedby="emailHelp"
                               placeholder="Enter Icon Class" name="category"/>
                        <div style="text-align: center" id="categoryImageIcon"><i class="fas fa-ad fa-5x"></i></div>
                    </div>
                    <div class="form-group">
                        <label for="newSubcategory">Enter New Subcategory</label>
                        <input type="text" class="form-control" id="newSubcategory" aria-describedby="emailHelp"
                               placeholder="Enter Subcategory" name="category">
                        <small id="newSubcategoryHelp" class="form-text text-muted">Enter the New Subcategory Here.
                        </small>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button type="button" id="save_subcategory" class="btn btn-primary" data-dismiss="modal">Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Subcategory</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="#" method="post">


                <div class="modal-body">
                    <div class="form-group">
                        <label for="selectPostType">Select Post Type</label>
                        <select name="category" class="form-control" id="e_selectPostType" disabled></select>
                    </div>
                    <div class="form-group">
                        <label for="e_selectCategory">Select Category</label>
                        <select name="category" class="form-control" id="e_selectCategory" disabled></select>
                    </div>
                    <div class="form-group">
                        <label for="e_selectModel">Select Post Model</label>
                        <select name="post_model" class="form-control" id="e_selectModel" disabled></select>
                    </div>
                    <div class="form-group">
                        <label for="e_subcategory">Edit Subcategory</label>
                        <input type="hidden" id="subcategoryId" name="subcategoryId"/>
                        <input type="text" class="form-control" id="e_subcategory" aria-describedby="emailHelp"
                               placeholder="Enter Subcategory" name="subcategory">
                        <small id="emailHelp" class="form-text text-muted">Edit Subcategory Here.</small>
                    </div>
                    <div class="form-group">
                        <label for="editSubcategoryIcon">Edit Icon Class</label>
                        <input type="text" class="form-control" id="editSubcategoryIcon" aria-describedby="emailHelp"
                               placeholder="Enter Icon Class" name="category"/>
                        <div style="text-align: center" id="editCategoryImageIcon"><i class="fas fa-ad fa-5x"></i></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="e_submit" data-dismiss="modal">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="addmanufacture" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Add Manufacturar</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <input type="hidden"  id="subId">

            <form action="#" method="post">


                <div class="modal-body">

                    <div class="ui sub header">Multiple</div>
                    <div class="ui fluid multiple search selection dropdown">
                        <input name="tags[]" type="hidden" multiple id="invalue">
                        <i class="dropdown icon"></i>
                        <div class="default text">Skills</div>
                        <div class="menu" id="viewManufacturer">
                            <div class="item" data-value="angular">Angular</div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="add_manufacturer_submit" data-dismiss="modal">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Message</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h6 id="modalMessage"></h6>
                </div>
            </div>
        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script th:src="@{../admin_js/semantic.min.js}"></script>
<script>
    $('.selection')
        .dropdown({
            allowAdditions: true
        })
    ;
</script>
<th:block th:include="admin/fraghment/header_link :: footer"></th:block>

<script type="text/javascript">
    $(document).ready(function () {
        $('#add_subcategory').on('click', function (e) {
            var newCategory = $("#newCategory").val();
            if (newCategory.length > 1) {
                $.ajax({
                    method: "POST",
                    url: "/manager/saveCategory",
                    data: {category: newCategory},
                    dataType: "json"
                })
                    .done(function (data) {
                        table.ajax.reload();
                        $("#successModal #modalMessage").html(data.response);
                        $('#successModal').modal('show');
                    })
            } else {
                $("#successModal #modalMessage").html("Category length must be at least 2");
                $('#successModal').modal('show');
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#addSubcategoryModal #selectPostType').on('change', function () {
            var typeId = $('#addSubcategoryModal #selectPostType').val();
            selectedType(typeId);
        });

        $('#addNewSubcategory').on('click', function () {
            console.log("mta");
            let postType = $('#addSubcategoryModal #selectPostType');
            postType.empty();
            postType.append('<option selected="true" disabled>Choose Post Type</option>');
            postType.prop("selectedIndex", 0);
            const postTypeUrl = '/manager/getPostTypeList';
            $.getJSON(postTypeUrl, function (data) {
                $.each(data, function (key, entry) {
                    postType.append($('<option></option>').attr('value', entry.id).text(entry.name));
                })
            });

            let postmodel = $('#addSubcategoryModal #selectModel');
            postmodel.empty();
            postmodel.append('<option selected="true" disabled>Choose Model</option>');
            postmodel.prop("selectedIndex", 0);
            const postModelUrl = '/manager/getPostModel';
            $.getJSON(postModelUrl, function (data) {
                $.each(data, function (key, entry) {
                    postmodel.append($('<option></option>').attr('value', entry.id).text(entry.modelName));
                })
            });

            let subCategory = $('#addSubcategoryModal #newSubcategory');
            subCategory.empty();


            $('#addSubcategoryModal').modal('show');
        });

        $('#save_subcategory').on('click', function (e) {

            var categoryId = $("#addSubcategoryModal #selectCategory").val();
            var modelId = $("#addSubcategoryModal #selectModel").val();
            var subcategory = $("#addSubcategoryModal #newSubcategory").val();
            var subcategoryIconText = $("#addSubcategoryModal #newsubategoryIcon").val();
            if (categoryId > -1 && modelId > -1 && subcategory.length > 1) {
                console.log("mta-2 "+subcategoryIconText+" "+subcategory);
                $.ajax({

                    method: "POST",
                    url: "/manager/addSubcategory",
                    data: {categoryId: categoryId, modelId: modelId, subcategory: subcategory,iconClass:subcategoryIconText},
                    dataType: "json"
                })
                    .done(function (data) {
                        subCategoryTable.ajax.reload();
                        $("#successModal #modalMessage").html(data.response);
                        $('#successModal').modal('show');
                    })
            } else {
                $("#successModal #modalMessage").html("Category length must be at least 2");
                $('#successModal').modal('show');
            }
        });

        $('#e_submit').on('click', function (e) {
            var subCategoryId = $("#editModal #subcategoryId").val();
            var subcategoryName = $("#editModal #e_subcategory").val();
            if (subcategoryName.length > 1 && subCategoryId > -1) {
                $.ajax({
                    method: "POST",
                    url: "/manager/editSubcategory",
                    data: {subCategoryId: subCategoryId, subcategoryName: subcategoryName},
                    dataType: "json"
                })
                    .done(function (data) {
                        subCategoryTable.ajax.reload();
                        $("#successModal #modalMessage").html(data.response);
                        $('#successModal').modal('show');
                    })
            } else {
                $("#successModal #modalMessage").html("Category length must be at least 2");
                $('#successModal').modal('show');
            }
        });

        window.editSubcategoryFunction = function (subCatId) {
            if (subCatId > -1) {
                $.ajax({
                    method: "GET",
                    url: "/manager/getSubcategory/" + subCatId,
                    dataType: "json"
                })
                    .done(function (data) {
                        $("#editModal #subcategoryId").val(data.id);
                        let postType = $('#editModal #e_selectPostType');
                        postType.empty();
                        postType.append($('<option selected="true"></option>').attr('value', data.category.postType.id).text(data.category.postType.name));

                        $("#editModal #subcategoryId").val(data.id);
                        let subcategory = $('#editModal #e_selectCategory');
                        subcategory.empty();
                        subcategory.append($('<option selected="true"></option>').attr('value', data.category.id).text(data.category.name));

                        let postModal = $('#editModal #e_selectModel');
                        postModal.empty();
                        postModal.append($('<option selected="true"></option>').attr('value', data.postModel.id).text(data.postModel.modelName));

                        $("#editModal #e_subcategory").val(data.name);
                        $("#editModal #editSubcategoryIcon").val(data.iconClass);
                        $('#editModal').modal('show');

                    })
            } else {
                $("#successModal #modalMessage").html("Subcategory not exist");
                $('#successModal').modal('show');
            }
        }
    });
</script>
<script>
    $(document).ready(function () {
        $('#newsubategoryIcon').on('change', function (e) {
            var iconClass = $('#newsubategoryIcon').val();
            $('#categoryImageIcon').empty();
            $('#categoryImageIcon').append(
                $('<i>').addClass(iconClass + " fa-5x")
            );
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#editSubcategoryIcon').on('change', function (e) {
            var iconClass = $('#editModal #editSubcategoryIcon').val();
            $('#editModal #editCategoryImageIcon').empty();
            $('#editModal #editCategoryImageIcon').append(
                $('<i>').addClass(iconClass + " fa-5x")
            );
        });
    });
</script>
<script>
    selectedType = function (typeId) {
        let category = $('#addSubcategoryModal #selectCategory');
        category.empty();
        category.append('<option selected="true" disabled>Choose Category</option>');
        category.prop("selectedIndex", 0);
        const categoryUrl = '/manager/categoryList/' + typeId;
        $.getJSON(categoryUrl, function (data) {
            $.each(data, function (key, entry) {
                category.append($('<option></option>').attr('value', entry.id).text(entry.name));
            })
        });
    }
</script>
<script>

    $("#add_manufacturer_submit").click(function () {
        var listOfManufacturer = $('#invalue').val().split(",");
        var subcategoryId = $('#subId').val();

        var formData = new FormData();

        formData.append("subcategoryId", subcategoryId);
        formData.append("listOfManufacturer", listOfManufacturer);
        $.ajax({
            method: "POST",
            contentType: false,
            enctype: 'multipart/form-data',
            url: "/manager/updateSubcategoryWithManufaturerList",
            data: formData,
            processData: false,
        }).done(function (data) {
            console.log(data);
        })

    })
    window.addManufacturer = function (subCatId) {
        let mnufacturerList = $('#addmanufacture #viewManufacturer');
        mnufacturerList.empty();
        const postTypeUrl = '/manager/manufacturerList';
        $.getJSON(postTypeUrl, function (data) {
            $.each(data, function (key, entry) {
                mnufacturerList.append($('<div></div>').addClass('item').attr('data-value', entry.id).text(entry.name));
            })
        });

        $("#subId").val(subCatId);

    }

</script>
</body>
</html>