<html lang="en">

<div class="brand-select col-md-4">

    <select class="selectpicker" data-live-search="true" id="roleForJobSeeker">
        <option selected disabled>Choose Type</option>
        <option value="All">All</option>
        <option value="ART/DESIGN">ART/DESIGN</option>
        <option value="ACCOUNTING/FINANCE"> ACCOUNTING/FINANCE</option>
        <option value="HEALTHCARE/MEDICAL">HEALTHCARE/MEDICAL</option>
        <option value="IT/TECHNOLOGY">IT/TECHNOLOGY</option>
        <option value="MARKETING/PR">MARKETING/PR</option>
        <option value="SECRETARIAL">SECRETARIAL</option>
        <option value="WRITING/EDITING">WRITING/EDITING</option>
        <option value="SUPPORT SERVICES">SUPPORT SERVICES</option>
        <option value="CUSTOMER SERVICE">CUSTOMER SERVICE</option>
        <option value="HR/PERSONNEL">HR/PERSONNEL</option>
        <option value="LAW/LEGAL">LAW/LEGAL</option>
        <option value="PHOTOGRAPHER">PHOTOGRAPHER</option>
        <option value="TRANSPORTATION">TRANSPORTATION</option>
        <option value="ADMINISTRATION">ADMINISTRATION</option>
        <option value="ARCHITECTURE">ARCHITECTURE</option>
        <option value="EDUCATION">EDUCATION/TRAINING</option>
        <option value="ENGINEERING">ENGINEERING</option>
        <option value="INTERIOR DESIGNER">INTERIOR DESIGNER</option>
        <option value="INTERNSHIP">INTERNSHIP</option>
        <option value="LOGISTICS">LOGISTICS</option>
        <option value="MANAGEMENT">MANAGEMENT</option>
        <option value="PURCHASING/PROCUREMENT">PURCHASING/PROCUREMENT</option>
        <option value="QUALITY CONTROL">QUALITY CONTROL</option>
        <option value="SAFETY">SAFETY</option>
        <option value="SALES">SALES</option>
        <option value="OTHER">OTHER</option>


    </select>
</div>
<div class="brand-select col-md-4">

    <select class="selectpicker" data-live-search="true" id="positionForJobSeeker">
        <option selected disabled value="Others">Choose Position</option>
        <option value="All">All</option>
        <option value="Finance Analyst">Finance Analyst</option>
        <option value="Accountant">Accountant</option>
        <option value="Web Designer">Web Designer</option>
        <option value="Country manager">Country manager</option>
        <option value="Others">Others</option>
    </select>
</div>
<div class="brand-select col-md-4">

    <select class="selectpicker" data-live-search="true" id="locationForJobSeeker">
        <option selected disabled value="Others">Choose Location</option>
        <option data-tokens="All">All</option>
        <option data-tokens="Doha">Doha</option>
        <option data-tokens="Alkhore">Alkhore</option>
        <option data-tokens="Najma">Najma</option>
        <option data-tokens="Alwhakra">Alwhakra</option>

    </select>
</div>

<div class="clearfix "></div>
<div class="brand-select col-md-4">


    <input type="checkbox" id="box_All_ForJobSeeker" checked>
    <label for="box_All_ForJobSeeker">All</label>

    <input type="checkbox" id="box_Male_ForJobSeeker">
    <label for="box_Male_ForJobSeeker">Male</label>

    <input type="checkbox" id="box_Female_ForJobSeeker">
    <label for="box_Female_ForJobSeeker">Female</label>

    <input type="checkbox" id="box_Both_ForJobSeeker">
    <label for="box_Both_ForJobSeeker">Both</label>

    <input type="checkbox" id="box_Others_ForJobSeeker">
    <label for="box_Others_ForJobSeeker">Others</label>

</div>

<div class="brand-select col-md-4">


    <input type="checkbox" id="box_all_job_ForJobSeeker" value="ALL" checked>
    <label for="box_all_job_ForJobSeeker">ALL</label>

    <input type="checkbox" id="box_fulltime_job_ForJobSeeker" value="Full Time">
    <label for="box_fulltime_job_ForJobSeeker">Full Time</label>

    <input type="checkbox" id="box_parttime_job_ForJobSeeker" value="Part Time">
    <label for="box_parttime_job_ForJobSeeker">Part Time</label>

    <input type="checkbox" id="box_onetime_job_ForJobSeeker" value="ONE TIME">
    <label for="box_onetime_job_ForJobSeeker">One Time</label>

</div>

<div class="brand-select col-md-4">

    <input type="checkbox" id="box_experience_all_ForJobSeeker" value="ALL" checked>
    <label for="box_experience_all_ForJobSeeker">ALL</label>

    <input type="checkbox" id="box_experience_0_2_ForJobSeeker" value="0-2 YEARS">
    <label for="box_experience_0_2_ForJobSeeker">0-2 YEARS</label>

    <input type="checkbox" id="box_experience_3_4_ForJobSeeker" value="3-4 YEARS">
    <label for="box_experience_3_4_ForJobSeeker">3-4 YEARS</label>

    <input type="checkbox" id="box_experience_5_6_ForJobSeeker" value="5-6 YEARS">
    <label for="box_experience_5_6_ForJobSeeker">5-6 YEARS</label>

    <input type="checkbox" id="box_experience_7_more_ForJobSeeker" value="7+ YEARS">
    <label for="box_experience_7_more_ForJobSeeker">7+ YEARS</label>

</div>
<div class="clearfix "></div>
<div class="brand-select col-md-4">

    <select class="selectpicker" data-live-search="true" name="hireLnagauge" id="seekerLanguageForJobSeeker">
        <option selected disabled value="Others">Choose Language</option>
        <option value="All">All</option>
        <option value="Any">Any</option>
        <option value="Arabic">Arabic</option>
        <option value="English">English</option>
        <option value="Hindi">Hindi</option>
        <option value="Arabic, English">Arabic, English</option>
        <option value="Arabic, Hindi">Arabic, Hindi</option>
        <option value="English, Hindi">English, Hindi</option>
        <option value="Arabic, English, Hindi">Arabic, English, Hindi</option>
        <option value="Arabic, English, Hindi, Others">Arabic, English, Hindi, Others</option>
        <option value="Others">Others</option>
    </select>
</div>

<div class="brand-select col-md-4">


    <input type="checkbox" id="box_nationality_All_ForJobSeeker" value="ALL" checked>
    <label for="box_nationality_All_ForJobSeeker">ALL</label>

    <input type="checkbox" id="box_nationality_in_country_ForJobSeeker" value="In Country Hire">
    <label for="box_nationality_in_country_ForJobSeeker">In Country Hire</label>

    <input type="checkbox" id="box_nationality_out_country_ForJobSeeker" value="International">
    <label for="box_nationality_out_country_ForJobSeeker">International</label>
    <input type="checkbox" id="box_nationality_out_any_ForJobSeeker" value="Any">
    <label for="box_nationality_out_any_ForJobSeeker">Any</label>

</div>



