<html lang="en">

<div class="brand-select col-md-4">

    <select class="selectpicker" data-live-search="true" id="manufacturerForMobile">
        <option selected disabled>Choose Brand name</option>
        <option data-tokens="All">All</option>
        <option data-tokens="Audi">Audi</option>
        <option data-tokens="Bentley">Bentley</option>
        <option data-tokens="BMW">BMW</option>
        <option data-tokens="Chevrolet">Chevrolet</option>
        <option data-tokens="Ferrari">Ferrari</option>
        <option data-tokens="Fiat">Fiat</option>
        <option data-tokens="Force Motors">Force Motors</option>
        <option data-tokens="Ford">Ford</option>
        <option data-tokens="Hindustan Motors">Hindustan Motors</option>
        <option data-tokens="Honda">Honda</option>
        <option data-tokens="Hyundai">Hyundai</option>
        <option data-tokens="Samsung">Samsung</option>
        <option data-tokens="Apple">Apple</option>
        <option data-tokens="HTC">HTC</option>
        <option data-tokens="MI">MI</option>
        <option data-tokens="Other Brands">Other Brands</option>
    </select>
</div>
<div class="brand-select col-md-4">

    <select class="selectpicker" data-live-search="true" id="locationForMobile">
        <option selected disabled>Choose Location</option>
        <option data-tokens="All">All</option>
        <option data-tokens="Doha">Doha</option>
        <option data-tokens="Alkhore">Alkhore</option>
        <option data-tokens="Najma">Najma</option>
        <option data-tokens="Alwhakra">Alwhakra</option>

    </select>
</div>
<div class="brand-select col-md-4">

    <select class="selectpicker" data-live-search="true" id="conditionForMobile">
        <option selected disabled>Choose Condition</option>
        <option data-tokens="All">All</option>
        <option data-tokens="Used">Used</option>
        <option data-tokens="New">New</option>
        <option data-tokens="Others">Others</option>

    </select>
</div>
<div class="clearfix "></div>
<div class="brand-select col-md-4">

    <select class="selectpicker" data-live-search="true" id="fontCameraForMobile">
        <option selected disabled>Choose Front Camera</option>
        <option data-tokens="All">All</option>
        <option data-tokens="Less than 1MP">Less than 1MP</option>
        <option data-tokens="1-5MP">1-5MP</option>
        <option data-tokens="5-10 MP">5-10 MP</option>
        <option data-tokens="10-15MP">10-15MP</option>
        <option data-tokens="More than 15 MP">More than 15Mp</option>
    </select>
</div>
<div class="brand-select col-md-4">

    <select class="selectpicker" data-live-search="true" id="backCameraForMobile">
        <option selected disabled>Choose Back Camera</option>
        <option data-tokens="All">All</option>
        <option data-tokens="Less than 1MP">Less than 1MP</option>
        <option data-tokens="1-5MP">1-5MP</option>
        <option data-tokens="5-10 MP">5-10 MP</option>
        <option data-tokens="10-15MP">10-15MP</option>
        <option data-tokens="More than 15 MP">More than 15Mp</option>
    </select>
</div>

<div class="brand-select col-md-4">

    <select class="selectpicker" data-live-search="true" id="ramForMobile">
        <option selected disabled>Choose RAM</option>
        <option value="All">All</option>
        <option value="0-1">Less than 500MB</option>
        <option value="1-1">1GB</option>
        <option value="2-2">2GB</option>
        <option value="4-4">4GB</option>
        <option value="4-100000">More than 4GB</option>
    </select>
</div>
<div class="clearfix "></div>
<div class="brand-select col-md-4">

    <select class="selectpicker" data-live-search="true" id="processorForMobile">
        <option selected disabled>Choose Processor</option>
        <option data-tokens="All">All</option>
        <option data-tokens="Snapdragon">Snapdragon</option>
        <option data-tokens="Mediatek">Mediatek</option>
        <option data-tokens="HiSilicon Kirin">HiSilicon Kirin</option>
        <option data-tokens="Exynos">Exynos</option>
        <option data-tokens="Others">Others</option>
    </select>
</div>

<div class="brand-select col-md-4">

    <select class="selectpicker" data-live-search="true" id="storageForMobile">
        <option selected disabled>Choose Storage</option>
        <option data-tokens="All">All</option>
        <option data-tokens="Less than 2GB">Less than 2GB</option>
        <option data-tokens="4gb">4GB</option>
        <option data-tokens="8GB">8GB</option>
        <option data-tokens="16GB">16GB</option>
        <option data-tokens="32GB">32GB</option>
        <option data-tokens="64GB">64GB</option>
        <option data-tokens="128GB">128GB</option>
        <option data-tokens="256GB">256GB</option>
        <option data-tokens="More than 256GB">More than 256GB</option>
    </select>
</div>


<div class="brand-select col-md-4">

    <select class="selectpicker" data-live-search="true" id="modelForMobile">
        <option selected disabled>Choose Model</option>
        <option data-tokens="All">All</option>
        <option data-tokens="A1">A1</option>
        <option data-tokens="A3">A3</option>
        <option data-tokens="ALTO">ALTO</option>
        <option data-tokens="BALENO">BALENO</option>
        <option data-tokens="S5">S5</option>
        <option data-tokens="6S">6S</option>


    </select>
</div>
<div class="clearfix "></div>
<div class="brand-select col-md-4">

    <input type="checkbox" id="box_simType_single_ForMobile" value="Single Sim">
    <label for="box_simType_single_ForMobile">Single Sim</label>

    <input type="checkbox" id="box_simType_dual_ForMobile" value="Dual Sim">
    <label for="box_simType_dual_ForMobile">Dual Sim</label>
    <input type="checkbox" id="box_simType_triple_ForMobile" value="Triple Sim">
    <label for="box_simType_triple_ForMobile">Triple Sim</label>
    <input type="checkbox" id="box_simType_hybrid_ForMobile" value="Hybrid Sim ">
    <label for="box_simType_hybrid_ForMobile">Hybrid Sim </label>
    <input type="checkbox" id="box_simType_nosim_ForMobile" value="No Sim ">
    <label for="box_simType_nosim_ForMobile">No Sim </label>

    <input type="checkbox" id="box_simType_all_ForMobile" value="All" checked>
    <label for="box_simType_all_ForMobile">All</label>

</div>
<div class="brand-select col-md-4">

    <input type="checkbox" id="box_networkType_2g_ForMobile" value="2G">
    <label for="box_networkType_2g_ForMobile">2G</label>

    <input type="checkbox" id="box_networkType_3g_ForMobile" value="3G">
    <label for="box_networkType_3g_ForMobile">3G</label>

    <input type="checkbox" id="box_networkType_4g_ForMobile" value="4G">
    <label for="box_networkType_4g_ForMobile">4G</label>

    <input type="checkbox" id="box_networkType_5g_ForMobile" value="5G">
    <label for="box_networkType_5g_ForMobile">5G</label>

    <input type="checkbox" id="box_networkType_all_ForMobile" value="All" checked>
    <label for="box_networkType_all_ForMobile">All</label>

</div>

<div class="brand-select col-md-4">

    <select class="selectpicker" data-live-search="true" id="colorForMobile">
        <option selected disabled>Choose Color</option>
        <option data-tokens="All">All</option>
        <option value="Gold">Gold</option>
        <option value="Silver">Silver</option>
        <option value="Black">Black</option>
        <option value="White">White</option>
        <option value="Chery">Chery</option>
        <option value="Blue">Blue</option>
        <option value="Gray">Gray</option>
        <option value="Red">Red</option>
        <option value="Green">Green</option>
        <option value="Orange">Orange</option>
        <option value="Other">Other</option>
    </select>
</div>
<div class="clearfix "></div>
<div class="brand-select col-md-4">

    <select class="selectpicker" data-live-search="true" id="smartPhoneDisplayForMobile">
        <option value="-1" selected disabled>Choose Display Size</option>
        <option value="All">All</option>
        <option value="1 Inch">1 Inch</option>
        <option value="2 Inch">2 Inch</option>
        <option value="3 Inch">3 Inch</option>
        <option value="4 Inch">4 Inch</option>
        <option value="5 Inch">5 Inch</option>
        <option value="6 Inch">6 Inch</option>
        <option value="7 Inch">7 Inch</option>
        <option value="8 Inch">8 Inch</option>
        <option value="9 Inch">9 Inch</option>
        <option value="10 Inch">10 Inch</option>
        <option value="11 Inch">11 Inch</option>
        <option value="12 Inch">12 Inch</option>
        <option value="13 Inch">13 Inch</option>
        <option value="14 Inch">14 Inch</option>
    </select>

</div>
