<html lang="en">


<div class="brand-select col-md-4">

    <select class="selectpicker" data-live-search="true" id="locationForVilla">
        <option selected disabled>Choose Location</option>
        <option data-tokens="All">All</option>
        <option data-tokens="Doha">Doha</option>
        <option data-tokens="Alkhore">Alkhore</option>
        <option data-tokens="Najma">Najma</option>
        <option data-tokens="Alwhakra">Alwhakra</option>

    </select>
</div>

<div class="brand-select col-md-4">

    <select class="selectpicker" data-live-search="true" id="numberOfRoomsForVilla">
        <option selected disabled>Choose Rooms</option>
        <option data-tokens="All">All</option>
        <option data-tokens="Studio">Studio</option>
        <option data-tokens="1">1</option>
        <option data-tokens="2">2</option>
        <option data-tokens="3">3</option>
        <option data-tokens="4">4</option>
        <option data-tokens="5">5</option>
        <option data-tokens="6">6</option>
        <option data-tokens="7">7</option>
        <option data-tokens="More than 7">More than 7</option>

    </select>
</div>

<div class="brand-select col-md-4">

    <select class="selectpicker" data-live-search="true" id="numberOfBathRoomsForVilla">
        <option selected disabled>Choose Bath Rooms</option>
        <option data-tokens="All">All</option>
        <option data-tokens="None">None</option>
        <option data-tokens="1">1</option>
        <option data-tokens="2">2</option>
        <option data-tokens="3">3</option>
        <option data-tokens="4">4</option>
        <option data-tokens="5">5</option>
        <option data-tokens="6">6</option>
        <option data-tokens="7">7</option>
        <option data-tokens="More than 7">More than 7</option>

    </select>
</div>
<div class="clearfix "></div>
<div class="brand-select col-md-4">

    <input type="checkbox" id="box_furnished_fully_furnished_ForVilla" value="Fully Furnished">
    <label for="box_furnished_fully_furnished_ForVilla">Fully Furnished</label>

    <input type="checkbox" id="box_furnished_semi_furnished_ForVilla" value="Semi Furnished">
    <label for="box_furnished_semi_furnished_ForVilla">Semi Furnished</label>

    <input type="checkbox" id="box_furnished_not_furnished_ForVilla" value="Not Furnished">
    <label for="box_furnished_not_furnished_ForVilla">Not Furnished</label>

    <input type="checkbox" id="box_furnished_all_ForVilla" value="All" checked>
    <label for="box_furnished_all_ForVilla">All</label>
</div>

<div class="brand-select col-md-4">

    <input type="checkbox" id="box_parking_all_ForVilla" value="All" checked>
    <label for="box_parking_all_ForVilla">All</label>

    <input type="checkbox" id="box_parking_COVERED_PARKING_ForVilla" value="Covered Parking">
    <label for="box_parking_COVERED_PARKING_ForVilla">Covered Parking</label>

    <input type="checkbox" id="box_parking_DEDICATED_ForVilla" value="Dedicated">
    <label for="box_parking_DEDICATED_ForVilla">Dedicated</label>

    <input type="checkbox" id="box_parking_ON_STREET_PARKING_ForVilla" value="On street Parking">
    <label for="box_parking_ON_STREET_PARKING_ForVilla">On street Parking</label>

    <input type="checkbox" id="box_parking_NONE_ForVilla" value="None">
    <label for="box_parking_NONE_ForVilla">None</label>
</div>

<div class="brand-select col-md-4">

    <input type="checkbox" id="box_kitchen_Open_ForVilla" value="Open">
    <label for="box_kitchen_Open_ForVilla">Open</label>

    <input type="checkbox" id="box_kitchen_Closed_ForVilla" value="Closed">
    <label for="box_kitchen_Closed_ForVilla">Closed</label>

    <input type="checkbox" id="box_kitchen_None_ForVilla" value="None">
    <label for="box_kitchen_None_ForVilla">None</label>

    <input type="checkbox" id="box_kitchen_All_ForVilla" value="All" checked>
    <label for="box_kitchen_All_ForVilla">All</label>
</div>

<div class="clearfix "></div>
<div class="brand-select col-md-4">

    <select class="selectpicker" data-live-search="true" id="villaDepositForVilla">
        <option selected disabled value="None">Choose Deposit</option>
        <option value="All">All</option>
        <option value="1 Month">1 Month</option>
        <option value="2 Month">2 Month</option>
        <option value="3 Month">3 Month</option>
        <option value="4 Month">4 Month</option>
        <option value="5 Month">5 Month</option>
        <option value="Negotiable">Negotiable</option>
        <option value="None">None</option>
    </select>
</div>



