<html lang="en" xmlns:th="http://www.thymeleaf.org">


    <div class="brand-select">
        <h3 class="sear-head">Brand name</h3>
        <select class="selectpicker" data-live-search="true" id="manufacturerForLaptop">
            <option selected disabled>Choose Brand name</option>
            <option data-tokens="All">All</option>
            <option data-tokens="Audi">Audi</option>
            <option data-tokens="Bentley">Bentley</option>
            <option data-tokens="BMW">BMW</option>
            <option data-tokens="Chevrolet">Chevrolet</option>
            <option data-tokens="Ferrari">Ferrari</option>
            <option data-tokens="Fiat">Fiat</option>
            <option data-tokens="Force Motors">Force Motors</option>
            <option data-tokens="Ford">Ford</option>
            <option data-tokens="Hindustan Motors">Hindustan Motors</option>
            <option data-tokens="Honda">Honda</option>
            <option data-tokens="Hyundai">Hyundai</option>
            <option data-tokens="Samsung">Samsung</option>
            <option data-tokens="Apple">Apple</option>
            <option data-tokens="HTC">HTC</option>
            <option data-tokens="MI">MI</option>
            <option data-tokens="Other Brands">Other Brands</option>
        </select>
    </div>
    <div class="brand-select">
        <h3 class="sear-head">Location</h3>
        <select class="selectpicker" data-live-search="true" id="locationForLaptop">
            <option selected disabled>Choose Location</option>
            <option data-tokens="All">All</option>
            <option data-tokens="Doha">Doha</option>
            <option data-tokens="Alkhore">Alkhore</option>
            <option data-tokens="Najma">Najma</option>
            <option data-tokens="Alwhakra">Alwhakra</option>

        </select>
    </div>
    <div class="brand-select">
        <h3 class="sear-head">Condition</h3>
        <select class="selectpicker" data-live-search="true" id="conditionForLaptop">
            <option selected disabled>Choose Condition</option>
            <option data-tokens="All">All</option>
            <option data-tokens="Used">Used</option>
            <option data-tokens="New">New</option>
            <option data-tokens="Others">Others</option>

        </select>
    </div>

    <div class="brand-select">
        <h3 class="sear-head">RAM</h3>
        <select class="selectpicker" data-live-search="true" id="ramForLaptop">
            <option selected disabled>Choose RAM</option>
            <option data-tokens="All">All</option>
            <option data-tokens="Less than 1GB">Less than 1GB</option>
            <option data-tokens="2gb">2GB</option>
            <option data-tokens="4GB">4GB</option>
            <option data-tokens="6GB">6GB</option>
            <option data-tokens="8GB">8GB</option>
            <option data-tokens="10GB">10GB</option>
            <option data-tokens="12GB">12GB</option>
            <option data-tokens="14GB">14GB</option>
            <option data-tokens="16GB">16GB</option>
            <option data-tokens="32GB">32GB</option>
            <option data-tokens="64GB">64GB</option>
            <option data-tokens="More than 64GB">More than 64GB</option>
        </select>
    </div>

    <div class="brand-select">
        <h3 class="sear-head">Processor</h3>
        <select class="selectpicker" data-live-search="true" id="processorForLaptop">
            <option selected disabled>Choose Processor</option>
            <option data-tokens="All">All</option>
            <option data-tokens="Intel Atom">Intel Atom</option>
            <option data-tokens="Intel Celeron">Intel Celeron</option>
            <option data-tokens="Intel Pentium">Intel Pentium</option>
            <option data-tokens="Intel Dual Core">Intel Dual Core</option>
            <option data-tokens="Intel Core i3">Intel Core i3</option>
            <option data-tokens="Intel Core i5">Intel Core i5</option>
            <option data-tokens="Intel Core i7">Intel Core i7</option>
            <option data-tokens="Intel Core i9">Intel Core i9</option>
            <option data-tokens="AMD">AMD</option>
        </select>
    </div>

    <div class="brand-select">
        <h3 class="sear-head">Storage</h3>
        <select class="selectpicker" data-live-search="true" id="storageForLaptop">
            <option selected disabled>Choose Storage</option>
            <option data-tokens="All">All</option>
            <option data-tokens="Less than 120GB">Less than 120GB</option>
            <option data-tokens="120GB">120GB</option>
            <option data-tokens="150GB">150GB</option>
            <option data-tokens="180GB">180GB</option>
            <option data-tokens="200GB">200GB</option>
            <option data-tokens="250GB">250GB</option>
            <option data-tokens="300GB">300GB</option>
            <option data-tokens="320GB">320GB</option>
            <option data-tokens="500GB">500GB</option>
            <option data-tokens="1TB">1TB</option>
            <option data-tokens="2TB">2TB</option>
            <option data-tokens="3TB">3TB</option>
            <option data-tokens="4TB">4TB</option>
            <option data-tokens="5TB">5TB</option>
            <option data-tokens="More than 5TB">More than 5TB</option>
        </select>
    </div>
    <div class="brand-select">
        <select class="selectpicker" data-live-search="true" id="displayForLaptop">
            <option selected disabled>Choose Display</option>
            <option data-tokens="All">All</option>
            <option data-tokens="11 Inch">11 Inch</option>
            <option data-tokens="12 Inch">12 Inch</option>
            <option data-tokens="13 Inch">13 Inch</option>
            <option data-tokens="14 Inch">14 Inch</option>
            <option data-tokens="15 Inch">15 Inch</option>
            <option data-tokens="16 Inch">16 Inch</option>
        </select>
    </div>

