<html lang="en" xmlns:th="http://www.thymeleaf.org">


    <div class="brand-select">
        <h3 class="sear-head">Location</h3>
        <select class="selectpicker" data-live-search="true" id="locationForProperty">
            <option data-tokens="All">All</option>
            <option data-tokens="Doha">Doha</option>
            <option data-tokens="Alkhore">Alkhore</option>
            <option data-tokens="Najma">Najma</option>
            <option data-tokens="Alwhakra">Alwhakra</option>

        </select>
    </div>

